<!-- templates/chat.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2 id="welcome-message">Podaj swoją nazwę użytkownika:</h2>
        <input id="username" type="text" placeholder="Twoja nazwa użytkownika">
        <button onclick="enterChat()">Wejdź na czat</button>

        <div id="chat" style="display: none;">
            <h2 id="greeting"></h2>
            <div id="chat-box"></div>
            <input id="msg" type="text" placeholder="Enter message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

    <script>
        const socket = io();//tworzy polaczenie z serwerem socke.IO
        let username = "";//nazw uzytkownika

        function enterChat() {
            username = document.getElementById("username").value.trim();//pobieranie  nazwy uzytkownika i wiadomosci z textfield
            if (username === "") {
                alert("Proszę podać nazwę użytkownika");
                return;
            }
            document.getElementById("welcome-message").style.display = "none";//naglowek style.display = none ukrywa ekran powitalny. po poprawnym 'zalogowaniu'
            document.getElementById("username").style.display = "none";//pole do imienia
            document.querySelector("button").style.display = "none";//przycisk
            document.getElementById("chat").style.display = "block";//Pokazuje właściwy interfejs czatu (ukryty domyślnie).
            document.getElementById("greeting").innerText = `Witaj, ${username}!`;//Wyświetla powitanie z wpisanym imieniem użytkownika

        }

        {#all clients see all messages#}
        socket.on('message', (msg) => {//gdy serwer wysle wiadomosc ta funkcja ja odbiera
            const chatBox = document.getElementById('chat-box');
            chatBox.innerHTML += `<p>${msg}</p>`;//dodanie wiadomosci na stronie tak aby byla widoczna dla usera
        });

        function sendMessage() {//oblsuga wyslania wiadomosci
            const msg = document.getElementById('msg').value;//Pobiera wiadomość wpisaną przez użytkownika z pola tekstowego.
            if (msg.trim() !== "") {//jesli niepusta
                socket.send(`${username}: ${msg}`);//wysyla wiadomosc do serwera
                document.getElementById('msg').value = '';//czyszzenie pola textowego
            }
        }
    </script>
</body>
</html>